*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 106, 57);

}
/* UTILITIES */

.row{
    width: 100%;
}

.dimension-contacs{
    width: 60px;
}
.first-card p{
    padding-top: 20px;
    padding-left: 10px;

}

.first-card{
    background-color: rgb(227, 227, 227);
    width: 100%;
}
.card{
    width: 100%;
}

.border-contact{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.overflow-y{
    overflow-y: auto;
    

}
.height-overflow{
    height: 500px;

}

.background-chat{
    background-image: url(../img/mine.jpg);
    height: 650px;
}

.icons-tastiera{
    border: none;
    background-color: none;

}






/* bg-color */
.bg-white{
    background-color: white;

}
.bg-blue{
    background-color: rgb(31, 123, 251);

}

.gray{
    color: gray;
}

.blue{
    color: rgb(31, 123, 251);

}
.bg-beige{
    background-color: rgb(211, 190, 152);
}