*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
}

/* UTILITIES */

.row{
    width: 100%;
}

.dimension-contacs{
    width: 60px;
}

.first-card{
    background-color: rgb(227, 227, 227);
    width: 100%;
}
.card{
    width: 100%;
}

.border-contact{
    border-top: 1px solid rgb(221, 211, 211);
    border-bottom: 1px solid rgb(211, 205, 205);
}
.overflow-y{
    overflow-y: auto;
    

}
.height-overflow{
    height: 500px;

}

.background-chat{
    background-image: url(../img/mine.jpg);
    height: 650px;
}

.icons-tastiera{
    border: none;
    background-color: none;

}

.sent{

    background-color: rgb(168, 209, 147);
    padding: 10px;
    max-width: 300px;
    margin: 20px;
    border-radius: 20px;
    align-self: flex-end;
    
    
    

}
.received{

    background-color: white;
    padding: 10px;
    max-width: 300px;
    margin: 20px;
    border-radius: 20px;
    align-self: flex-start;



}

.date{
    color: rgb(140, 128, 128);
    font-size: 13px;
}
.clock{
    padding-left: 150px;
    color: rgb(185, 179, 179);
    font-size: 13px;

}

/* style per individuare con la funzione i contatti in base al 'name' */
.none{
    display: none;
}
.block{
    display: block;

}

/* bg-color e size */
.bg-white{
    background-color: white;

}
.bg-blue{
    background-color: rgb(114, 169, 246);

}

.gray{
    color: rgb(185, 179, 179);
}

.blue{
    color: rgb(31, 123, 251);

}
.bg-beige{
    background-color: rgb(237, 224, 199);
}

.font-size{
    font-size: 16px;
}